
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  margin-top:80px;
  margin-bottom:120px;
  margin-left:120px;
  margin-right:120px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  margin-top:190px;
  margin-bottom:120px;
  margin-left:120px;
  margin-right:120px;
}

.App-header {
  background-color: brown;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.container{
  margin-top: 10px; 
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.meditation-container {
  margin: 0;
  padding: 0;
  /* display: ; */
  flex-direction: column;
  align-items: center;
  height: 10vh;
}

.controls {
  /* display: flex; */
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.emotion-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  /* transition: background-color 0.3s ease; */
}

.emotion-btn:hover {
  background-color: #0056b3;
}

.meditation-ui canvas {
  margin: 20px auto;
  height: 400px;
  width: 80%;
}
