/* Reset default margin and padding */
.main {
  margin: 0;
  padding: 0;
  background: #FFFACD;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  font-family: system-ui, sans-serif;
}

/* Emoji container */
.emoji-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Individual emoji styling */
.emoji {
  display: inline-block;
}

/* Main container */
.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Background Image */
.backgroundImage {
  width: 100%;
  height: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi1ynytbXpgEHrXxrUSER0OuUQ3B5BdBDgcw&s");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
  animation: fadeInBackground 3s forwards;
}

@keyframes fadeInBackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

/* Content Styling */
.content {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 70px;
  left: 50px;
  text-align: left;
  z-index: 1;
  display: flex;
  flex-direction: column;
  letter-spacing: 0;
}

.text {
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 0px;
  line-height: 40px;
  position: relative;
  left: 0%;
  margin-bottom: 10px;
  animation: textDiagonal 2s forwards 6s;
}

.text span {
  font-size: 30px;
  font-family: system-ui;
  color: black;
  letter-spacing: 1px;
  line-height: 20px;
  width: 500px;
  position: relative;
  animation: wordFadeIn 1s ease-in-out forwards;
}

@keyframes textDiagonal {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(200px, 200px);
  }
}

@keyframes wordFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text p:nth-child(1) {
  animation-delay: 0s;
}

.text p:nth-child(2) {
  animation-delay: 1s;
}

.text p:nth-child(3) {
  animation-delay: 2s;
}

.text p:nth-child(4) {
  animation-delay: 1s;
}

.text p:nth-child(5) {
  animation-delay: 1s;
}

.text p:nth-child(6) {
  animation-delay: 1s;
}

/* Navbar Styling */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: transparent;
  animation: navbar 7s ease-in-out forwards 0s;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 80px;
}

.logo {
  color: white;
  font-family: system-ui;
  font-size: 1.5rem;
}

.menu {
  font-family: system-ui;
  font-size: 1rem;
  color: white;
  letter-spacing: 1px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li {
  margin-left: 40px;
  padding: 10px 15px;
  cursor: pointer;
}

.menu ul li:hover {
  background: #936fdc;
  border-radius: 5px;
  transition: 0.1s ease-in-out;
}

@keyframes navbar {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

.login-button {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 15px 30px;
  background-color: #936fdc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 3;
}

.login-button:hover {
  background-color: white;
  color: #936fdc;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.light {
  color: azure;
  background-image: conic-gradient(
    from var(--rotate) at 29% 10%,
    white 35%,
    grey,
    black 60%
  );
  font-size: 120px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rotatelight 4s ease-in-out infinite alternate;
}

@keyframes rotatelight {
  from {
    --rotate: 0.15turn;
  }
  to {
    --rotate: -0.15turn;
  }
}