/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
  }
  
  .tasks-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-top: 150px; /* Adjust this value as needed */
  }
  
  .tasks-container:hover {
    transform: scale(1.02);
  }
  
  .tasks-title {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .task-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .task-input {
    width: 80%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .add-task-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-task-button:hover {
    background-color: #0056b3;
  }
  
  .loading-message {
    text-align: center;
    font-size: 18px;
    color: #999;
  }
  
  .tasks-list {
    list-style-type: none;
    padding: 0;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .task-item:hover {
    background-color: #f1f1f1;
    transform: scale(1.02);
  }
  
  .task-item.completed .task-text {
    text-decoration: line-through;
    color: #777;
  }
  
  .task-text {
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .task-text:hover {
    color: #007bff;
  }
  
  .delete-task-button {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-task-button:hover {
    background-color: #d62828;
  }
  